<div class="well well-sm" align="center">
  <b>Welcome to AuthMean, {{currentUser.firstName}}!</b>
</div>
<div class="row">
  <div class="col-md-4">
    <div class="list-group">
      <div class="list-group-item active text-center">
        <span class="fa fa-cog"></span> Dashboard
      </div>
      <a [routerLink]="['/edit']" class="list-group-item"><span class="fa fa-pencil"></span> Edit Profile</a>
      <a [routerLink]="['/login']" class="list-group-item"><span class="fa fa-sign-out"></span> Logout</a>
    </div>
  </div>
  <div class="col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading text-center">
        <span class="fa fa-newspaper-o"></span> Overview
      </div>
      <div class="panel-body text-center">
        <p>You're logged in with the MEAN Stack & Angular 2!!</p>
      </div>
    </div>
  </div>
</div>